<div id="home" class="big-bg">

<%= form_with(model: @post, local: true, url:posts_new_path) do |form| %>
 <body>
  <div class="first-block1">
  　<h3>
    <div class="チーム名">
      <%= form.label :チーム名 %>
      <%= form.text_field :チーム名 %>
    </div>
  
    <div class="日時">
      <%= form.label :開始時間 %>
      <%= form.datetime_select :開始時間 %>
    　<p><%= form.label :終了時間 %>
    　   <%= form.time_select :終了時間 %></p>
    </div>

    <div class="会場">
     <%= form.label :会場 %>
     <%= form.text_field :会場 %>
    </div>

    <div class="備考">
     <%= form.label :備考 %>
     <%= form.text_field :備考 %>
    </div>

    <div class="submit">
      <%= form.submit %>
    </div>
    </h3>

  </div>
 </body>
  
  
<% end %>

</div>